@charset "UTF-8";

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

.cv {
    font-size: 0.8em;
}

.cvheading {
    border-bottom: 1px solid #d5d5d5;
}

.condensed {
    font-size: 0.7em;
    color: #555;
    line-height: 1.2em;
}

p {
    font-size: 1.1em;
    line-height: 1.4em;
    color: #333;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px;
    font-size: 1.1em;
}

ul.posts li {
    list-style: none;
}

a.icons {
    padding-left: 0;
    text-decoration: none;
}
