p, li {
  font-size: 22px;
}

h4 {
  padding-top: 5em;
}

.tutorial-page-navigation {
  font-size: 22px;
  display: flex;
  justify-content: space-between;
}

.tutorial-gray-link {
  color: #333;
  opacity: 0.33;
}
