<!DOCTYPE html>
<html lang="en">

  {% include head.html %}
  
  <body>
    
    {% include analytics.html %}
    
    <div class="container">
      <div class="header clearfix">
	
	<nav><ul class="nav nav-pills pull-right">
	    <!-- <li role="presentation" class="active"><a href="/">Alexander L. Hayes</a></li> -->
	    <li role="presentation"><a href="/cv/">CV</a></li>
	    <li role="presentation"><a href="/blog/">Blog</a></li>
	</ul></nav>
	<h3 class="text-muted"><a href="/">Alexander L. Hayes</a></h3>

      </div><!-- /.header clearfix -->
	
      <div class="inner cover">
	{{ content }}
      </div><!-- /.inner cover-->
      
      <div class="footer">
	<p><span class="obfuscate">ten.reylftab@rednaxela</span> / <a href="https://github.com/batflyer">github.com/batflyer</a></p>
      </div><!-- /.footer-->
    </div><!-- /.container -->
    
    {% include scripts.html %}

  </body>
</html>

