<!DOCTYPE html>
<html lang="en">

  {% include head.html %}
  
  <body>
    
    {% include analytics.html %}
    
    <div class="container">
      <div class="header clearfix">
	
	<nav><ul class="nav nav-pills pull-right">
	    <li role="presentation"><a href="/cv/">CV</a></li>
	    <li role="presentation"><a href="/publications/">Publications</a></li>
	    <li role="presentation"><a href="/blog/">Blog</a></li>
	</ul></nav>
	<h3 class="text-muted"><a href="/"><i class="fa fa-home"></i> Alexander L. Hayes</a></h3>

      </div><!-- /.header clearfix -->

      <div class="inner cover">
	{{ content }}
      </div>
      
      <div class="footer" style="text-align: center;">
	<p><span class="obfuscate">ten.reylftab@rednaxela</span></p>
	<p>
	  <a href="https://www.linkedin.com/in/alexanderlhayes/" class="fa fa-linkedin fa-2x" style="margin-left: 0.3em; margin-right: 0.3em"></a>
	  <a href="https://github.com/batflyer" class="fa fa-github fa-2x" style="margin-left: 0.3em; margin-right: 0.3em"></a>
	  <a href="https://twitter.com/alexanderlhayes" class="fa fa-twitter fa-2x" style="margin-left: 0.3em; margin-right: 0.3em"></a>
	</p>
      </div><!-- /.footer-->
    </div><!-- /.container -->
    
    {% include scripts.html %}

  </body>
</html>
